.header
  position fixed
  top 0
  left 0
  width 100vw
  height 64px
  background #16171A
  display flex
  align-items center
  justify-content space-between
  padding 0 16px
  box-sizing border-box
  .right
    .button
      border-radius 4px
      height 36px
      line-height 36px
      font-size 16px
      background #25282C
      padding 0 16px
      color #FFFFFF
      cursor pointer
